{% extends 'base.html' %}

{% block meta %}
{% load static %}
<title>Login</title>
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock meta %}


{% block content %}
    
<body>
    <div class="container d-flex justify-content-center">
        <h1>Login</h1>
    </div>
    <div class="container"> 
        <div class="row row-cols-auto justify-content-center">
            <form method="POST" action="">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Username: </td>
                        <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                    </tr>
                            
                    <tr>
                        <td>Password: </td>
                        <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                    </tr>
        
                    <tr>
                        <td></td>
                        <td><br><input class="card btn login_btn" style="background-color: #ffffcf;" type="submit" value="Login"></br></td>
                    </tr>
                </table>
            </form>
        
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}   
        
            <p>Belum mempunyai akun? <a style="color:red" href="{% url 'todolist:register' %}">Buat Akun</a></p>
            <img style="    width: 20%; background-repeat: no-repeat; 
            float: right;
            margin-right: 200px;" src="{% static 'johnnysuh.jpg' %}" alt="johnnysuh">    
        </div>
    </div>
</body>

{% endblock content %}