{% extends 'base.html' %}

{% block meta %}
{% load static %}
<link rel="stylesheet" href="{% static 'todolist.css' %}">
{% endblock meta %}

{% block content %}

<script>
    $(document).ready(function(){
        $('#getData').click(function(){
            alert("haloo")
            $.ajax({
                url: "{% url 'todolist:show_ajax' %}",
                type: 'GET',
                dataType: 'json', 
                success:function(response){
                    var result = '';
                    $.each(response, function(key, value){
                        result += 
                        "<div class='col'>" + 
                            "<div class='card h-100' style='width: 18rem;'>" +
                                "<div class='card-body'>" + 
                                    "<h5 class='card-title'><b>"+response[key].fields.title+"</b></h5>" +
                                    "<p class='card-text'>Date : "+response[key].fields.date+"</p>" +
                                    "<p class='card-text'>Description : "+response[key].fields.description+"</p>" +
                                    ((response[key].fields.is_finished) ? '<p class="card-text">Status : Selesai</p>':'<p class="card-text">Status : Belum Selesai</p>') +
                                    "<div class='card-footer'>" +
                                        "<table>" +
                                            "<th>" +
                                                "<form method='POST' action='change-status'>" +
                                                    "{% csrf_token %}" +
                                                    "<input class='btn btn-primary' type='submit' name="+response[key].pk+" value='change'>" +
                                                "</form>" +
                                            "</th>" +
                                            "<th>" +
                                                "<form method='POST' action='delete'>" +
                                                    "{% csrf_token %}" +
                                                    "<input class='btn btn-primary' type='submit' name="+response[key].pk+" value='delete'>" +
                                                "</form>" +
                                            "</th>"+                                                                           
                                        "</table>"+
                                    "</div>"+
                                "</div>" +
                            "</div>" +
                        "</div>";
                    });
                    $("#row1").html(
                        result,
                    );
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('#saveData').click(function(){
            $.ajax({
                url: "{% url 'todolist:todolist_ajax' %}",
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    'title' : $('#title').val(),
                    'description' : $('#description').val(),
                },
                success:function(){
                    alert("Task sudah ditambahkan!")
                }
            });
        });
    });
</script>

<body>
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <h5 class="navbar-brand user" style="font-family: Courier; font-weight: bold;">Halo, {{user.get_username}}!</h5>
            <div class="nav navbar-nav navbar-right">
                <a class="nav-link active" aria-current="page" href="{% url 'todolist:create_task' %}">Add Task</a>
                <a class="nav-link active" aria-current="page" href="{% url 'todolist:logout' %}">Logout</a>    
            </div>
        </div>
    </nav>
    
    <br>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" style="display:inline-block; margin-left: 20px;">
        Add Task
    </button>    
    <button type = 'button' class = 'btn btn-primary' id = 'getData' style="display:inline-block; margin-left: 10px;">Get Data</button>

    <div style="margin-top: 20px;">
        <h1>Your To Do List</h1>
    </div>

    <br>
    <div class="row row-cols-auto justify-content-center" id="row1">
        {% for i in list %}
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><b>{{i.title}}</b></h5>
                    <p class="card-text">Date : {{i.date}}</p>
                    <p class="card-text">Description : {{i.description}}</p>
                    
                    {% if i.is_finished == True %}
                        <p class="card-text">Status : Selesai</p>
                    {% else %}
                        <p class="card-text">Status : Belum Selesai</p>
                    {% endif %}

                    <div class="card-footer">
                        <table>
                            <th>
                                <form method="POST" action="change-status">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" name="{{i.id}}" value="change">
                                </form>    
                            </th>
                            <th>
                                <form method="POST" action="delete">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" name="{{i.id}}" value="delete">
                                </form>    
                            </th>
                        </table>
                    </div>
                </div>
            </div>        
        </div>
        {% endfor %}  
    </div>
    <br>
</body>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="myModalLabel">Add Your Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="title" class="modallabel" style="font-family: Courier; font-weight: bold;
                    margin: 5px">Title : </label><br>
                    <input type="text" id="title" name="title"><br>
                    <label for="description" id="labeldesc" style="font-family: Courier; font-weight: bold;
                    margin: 5px">Description : </label><br>
                    <input type="text" id="description" name="description"><br>
                </form>
            </div>
            <div class="modal-footer" style="display:block; margin: 0 auto;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id='saveData'>Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}