{% extends 'base.html' %}

{% block meta %}
{% load static %}
<link rel="stylesheet" href="{% static 'todolist.css' %}">
{% endblock meta %}

{% block content %}


<body>
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <h5 class="navbar-brand user" style="font-family: Courier; font-weight: bold;">Halo, {{user.get_username}}!</h5>
            <div class="nav navbar-nav navbar-right">
                <a class="nav-link active" aria-current="page" href="{% url 'todolist:create_task' %}">Add Task</a>
                <a class="nav-link active" aria-current="page" href="{% url 'todolist:logout' %}">Logout</a>    
            </div>
        </div>
    </nav>
    
    <br>

    <h1>Your To Do List</h1>
    <br>
    <div class="row row-cols-auto justify-content-center">
        {% for i in list %}
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><b>{{i.title}}</b></h5>
                    <p class="card-text">Date : {{i.date}}</p>
                    <p class="card-text">Description : {{i.description}}</p>
                    
                    {% if i.is_finished == True %}
                        <p class="card-text">Status : Selesai</p>
                    {% else %}
                        <p class="card-text">Status : Belum Selesai</p>
                    {% endif %}
                    
                    <table>
                        <th>
                            <form method="POST" action="change-status">
                                {% csrf_token %}
                                <input class="btn btn-primary" type="submit" name="{{i.id}}" value="change">
                            </form>    
                        </th>
                        <th>
                            <form method="POST" action="delete">
                                {% csrf_token %}
                                <input class="btn btn-primary" type="submit" name="{{i.id}}" value="delete">
                            </form>    
                        </th>
                    </table>
                </div>
            </div>        
        </div>
        {% endfor %}  
    </div>
    <br>
</body>
{% endblock content %}