{% extends 'base.html' %}

{% block meta %}
{% load static %}
<link rel="stylesheet" href="{% static 'stylefortodo.css' %}">
{% endblock meta %}

{% block content %}

<body>
  <h1>Your To Do List</h1>
  <h3>Name: {{ user.get_username }} </h3>
  
  <button id="corner1"><a href="{% url 'todolist:create_task' %}">Add Task</a></button>
  <button id="corner1"><a href="{% url 'todolist:logout' %}">Logout</a></button>
  
  <br></br>
  
  <div class="login">
    <table>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th></th>
        <th>Delete</th>
      </tr>
      {% for i in list %}
      <tr>
          <th>{{i.date}}</th>
          <th>{{i.title}}</th>
          <th>{{i.description}}</th>

          {% if i.is_finished == True %}
            <th>Selesai</th>
          {%else%}
            <th>Belum Selesai</th>
          {%endif%}

          <th>
            <form method="POST" action="change-status">
                {% csrf_token %}
                <input type="submit" name="{{i.id}}" value="change">
            </form>
          </th>

          <th>
            <form method="POST" action="delete">
                {% csrf_token %}
                <input type="submit" name="{{i.id}}" value="delete">
            </form>
          </th>

      </tr>
    {% endfor %}
    </table>
  </div>  
</body>

{% endblock content %}
