body {
    background-color: #321911;
}

div {
    font-family: Courier;
    font-weight: bold;
    float: left;
    margin-left: 200px;
    text-align: center;
    color: #ffffcf;
}

input {
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    font-family: Courier New;
}

#img {
    width: 20%;
    background-repeat: no-repeat;
    float: right;
    margin-right: 200px;
}

h1 {
    font-family: Courier;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    margin: 50px 200px;
    border-radius: 20px;
    color: #8b6b61;
    background-color: #ffffcf;
}