body {
    background-image: url('howls.jpg');
    background-size: 100%;
}

div {
    background-color: rgb(245, 239, 230);
    color: black;
    font-family: Courier New;
}

h1, h3 {
    color: black;
    text-align: center;
    font-family: Courier;
}

table{
    height: 200px;
    width: 100%;
}

th {
    border: 1px solid;
}

#corner1 {
    border-radius: 25px;
    background-color: rgb(245, 239, 230);
    border: none;
    padding: 10px 20px;
    font-family: Courier;
    font-size: 15px;
    color: black;
}

#corner2 {
    background-color: red;
    border: none;
    padding: 5px 10px;
    font-family: Courier;
    color: white;
    font-weight: bold;
}

input {
    font-family: Courier;
    font-weight: bold;
}