html body {
    background-color: #b2dfdb;
    overflow-x: hidden;
}

div.card {
    background-color: #ffff;
    color: #75a478;
    font-family: Courier;
}

h1 {
    text-align: center;
    color: #75a478;
    font-family: Courier;
    font-weight: bold;
}

.btn-primary {
    background-color: #e66f64;
    border: none;
    color: black;
    font-family: Courier;
}